[Global]
#Information for sending e-mail notifications
email_server = smtp.example.com
email_port = 587
email_from = user@example.com
email_to = alert@example.com
email_auth = true
email_username = user@example.com
email_password = password
email_subject = SFTP Processing Error
#Error log location
log_file = FILE_LOCATION\error.log
#Directory to store failed processing files
failed_dir = FILE_LOCATION\failed
#Directory to store successfully processed files
processed_dir = FILE_LOCATION\processed
#Location of SSH keys for SFTP data sources
ssh_known_hosts = FILE_LOCATION\known_hosts
#name of the GnuPG executable file (should be in the path)
pgp_executable = gpg.exe

[Source]
#comma separated list of sources mapping to a config section
#Each source should have a relevant config section that specifies the type and criteria
#type = sftp (currently only supported source type)
locations = Source1

[Source1]
type= sftp
server = sftp.example.com
port = 22
username = username
#password file created using key.GenerateKeyFile()
password_file = FILE_LOCATION\password.bin
#PGP encryption
encrypted = true
encryption_type = pgp
encryption_key = PRIVATE_KEY_PASSPHRASE
#A RegEx match for files that should be retrieved from this source
file_mask = ^extract.*\.pgp
source_dir = /out
archive_source_files = true
archive_dir = /out/archive
staging_dir = FILE_LOCATION\staging
#A comma separated list of locations for files to be transferred. Should map to a config section.
destinations = DEST1,DEST2,DEST3

[DEST1]
#comma-separated list of sources
type = smb
path = \\example.com\share1
#A regex match for files that should be sent to this destination
file_mask = ^extract_[p].*(?<!\.pgp)$

[DEST2]
#comma-separated list of sources
type = smb
path = \\example.com\share2
#A regex match for files that should be sent to this destination
file_mask = ^extract_[i].*(?<!\.pgp)$

[DEST3]
type = sftp
server = sftp2.example.com
port = 22
username = user2
password_file = FILE_LOCATION\user2.bin
file_mask = ^extract_[C].*(?<!\.pgp)$
destination_dir = /in
